.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
/out/production/
kodilla-testing/build/
kodilla-testing/out/
kodilla-testing/src/main/resources/
kodilla-testing/src/test/
out/test/
src/main/resources/static/
src/main/resources/templates/
src/test/resources/
